section {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.9rem;
  padding: 1.5rem;
}
article {
  background-color: #058787;
  color: white;
  padding: 0.3rem;
}

h1 {
  text-align: center;
  color: rgb(4, 138, 82);
  font-weight: 600;
}

@media (min-width: 350px) {
  section {
    grid-template-columns: auto;
  }
}
@media (min-width: 600px) {
  section {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 860px) {
  section {
    grid-template-columns: auto auto auto;
  }
}
